<div>
<h1><%  @_current_user%></h1>
<ul>
<% @articles.each do |article| %>
 <li>
  <%= link_to article.title, article %> ||<%= article.created_at %>
</li>

<% end %>
</ul>
<%= link_to "New Article", new_article_path %>
</div>
<%= pie_chart Article.group(:user_id).count %>
<div>
<%= line_chart({"2021-01-01" => 2, "2021-01-02" => 3}) %>
</div>